.App {
  max-width: 300px;
  margin:1em auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.react-chat-form-message-inner {
  padding: 0.5em 1em;
  display: inline-block;
  background: #EEE;
  border-radius: 0.75em 1.5em 1.5em 0.75em;
}

.react-chat-form-form{
  margin-top: 1em;
}

.react-chat-form-form-input{
  border-radius: 2em;
  padding: 1em 2em;
  border: 1px solid #DDD;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.react-chat-form-form-radio {
  border-radius: 1.5em;
  padding: 0.5em 1em;
  border: 1px solid #DDD;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  margin: 1em 1em 0 0;
}

.react-chat-form-form-radio:hover {
  border-color: #12C4FF;
}

.react-chat-form-form-radio:focus {
  background: #12C4FF;
  color: #FFF;
}

.react-chat-form-form-input:focus{
  outline: none;
  border-color: #12C4FF;
}

.react-chat-form-form-error{
  color: #FF1212;
  font-size: 0.75em;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.react-chat-form-message{
  margin-bottom: 0.5em;
}

.react-chat-form-response{
  text-align: right;
}
.react-chat-form-response .react-chat-form-message-inner {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  background: #12C4FF;
  color: #FFF;
}
.react-chat-form-feedback.react-chat-form-form-feedback-begin .react-chat-form-message-inner {
  border-top-left-radius: 1.5em;
}
.react-chat-form-feedback.react-chat-form-form-feedback-end .react-chat-form-message-inner {
  border-bottom-left-radius: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
